$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif;

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: $primary-color;
  font-family: $font-stackl;
}
nav {
  width: auto;
  padding: 15px;
  display:  flex;
  justify-content: space-between;
 //anidacion
 p {
  font-size: 1.5em;
  padding-left: 15px;
  color: $primary-text-color;
 }
 .icons {
  display: flex;
  gap: 15px;
  padding-right: 15px;
  button{
    background: none;
    border: none;
  }
 }
}

main {
  background-color: $primary-color;
}
footer{
  $background-color: #E86424;
  background-color: $background-color;
  width: 100%;
  height: 250px;

}